
        <div class="container-fluid col-md-12" style="height: 50px;">
        </div>
        <div class="container-fluid col-md-12 silverleaf-ee" style="color: white;">
            <div class="col-md-9">
                  <h1 class="large-text-heading">About</h1>
                  <p class="heading-subtxt">The Mane Frame Radio</p>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <p class="blog-content">Mane Frame Radio is an internet radio station founded by ShadowPony in January of 2015.  Created from an old Minecraft server he had laying around, the server now hosts a wide assortment of music from the Brony fandom.  The station's mascot is Silver Leaf, a Pegasus that enjoys being outdoors surrounded by the elements when she's not plugged into the Mane Frame.  More than a year after its creation, MFR is still committed to providing listeners with a variety of music and being involved in the community, working hard to constantly improve and better provide for our fans.</p>
                          <img src="{{ url_for('static', filename='img/SL_reference.PNG') }}">
                        </div>
                  </div>
            </div>
