
        <div class="container-fluid col-md-12" style="height: 50px;">
        </div>
        <div class="container-fluid col-md-12 silverleaf-ee" style="color: white;">
            <div class="col-md-9">
                  <h1 class="large-text-heading">About</h1>
                  <p class="heading-subtxt">The Paw Print Radio</p>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <p class="blog-content">Paw Print Radio is an internet radio station that proudly plays some of the best music produced by the furry fandom. Originally founded as Mane Frame Radio in 2015 with a focus on music in the Brony fandom, this new effort is committed to providing listeners with a wide variety of music. Paw Print Radio is excited for this new endeavor into the Furry Community and looks forward to have all of its fans along for the ride.</p>
                          <img src="{{ url_for('static', filename='img/PPR_Logo_BlackBG.jpg') }}" style="height: 300px;">
                          <hr>
                          <p class="blog-content">We run multiple servers running to make it all work together. From the dedicated Icecast server, radiodj host, to the web server, the cost racks up high. Support us by donating and help keep us running to have us continue to bring you the best pony music, 24/7!</p>

                          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                          <input type="hidden" name="cmd" value="_s-xclick">
                          <input type="hidden" name="hosted_button_id" value="M89Y2JAWQUWTW">
                          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                          <br><br>
                          <p class="blog-content">If you cannot donate~ we understand! Just show us your appreciation by keep listening to our radio station!</p>
                          <p class="blog-content">Thank you so much!</p>
                          <p class="blog-content"><i>~ The Paw Print Radio Team</i></p>
                        </div>
                  </div>
            </div>
