
        <div class="container-fluid col-md-12" style="height: 50px;">
        </div>
        <div class="container-fluid col-md-12 silverleaf-ee" style="color: white;">
            <div class="col-md-9">
                  <h1 class="large-text-heading">About</h1>
                  <p class="heading-subtxt">The Mane Frame Radio</p>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <p class="blog-content">Since January 69 6969, Mane Frame Radio has been fueling the brony community with pony music. Partnering with Dusk from Ponyvillelive, the founder ShadowPony envisioned to create the most hit pony radio around. This is supposidly by very long and when I implement flask, I will have it get the information from a file instead of having it hard coded. Therefore it would be easier to edit and such. If anyone here is good at writing stuff about Mane Frame Radio, hit me up and send me ya draft! Thanks ~EndenDragon :)</p>
                        </div>
                  </div>
            </div>
