
        <div class="container-fluid col-md-12" style="height: 50px;">
        </div>
        <div class="container-fluid col-md-12 silverleaf-ee" style="color: white;">
            <div class="col-md-9">
                  <h1 class="large-text-heading">Contact</h1>
                  <p class="heading-subtxt">Questions? Comments? Partnerships? You are at the right place!</p>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <p class="blog-content">Looking for someone to talk to? Hit us up within those options:</p>
                          <a href="https://twitter.com/PawPrintRadio" class="btn btn-lg btn-info"><i class="fa fa-twitter"></i> Twitter</a>
                          <a href="https://www.facebook.com/PawPrint-Radio-1541789809439439/?fref=ts" class="btn btn-lg btn-primary"><i class="fa fa-facebook"></i> Facebook</a>
                          <a href="mailto:ManeFrameRadio@gmail.com" class="btn btn-lg btn-success"><i class="fa fa-envelope"></i> E-Mail</a>
                          <br><br>
                          <p class="blog-content">Or you can check out our staff team, and contact us individually. <a href="team" class="btn btn-lg btn-primary"><i class="fa fa-users"></i> Our Team</a></p>
                          <hr>
                          <p class="blog-content">If you wish, you can also chill on our Discord server and hang with us!</p>
                          <div class="col-md-5">
                            <iframe src="https://discordapp.com/widget?id=81433163955441664&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                          </div>
                        </div>
                  </div>
            </div>
