<div class="jumbobg">
    <div class="jumbotron">
        <div class="container">
            <div class="jumbo-sm-text animated fadeInDown">Welcome to</div>
            <div class="jumbo-eyecatching-text animated zoomIn">Paw Print</div>
            <div class="jumbo-sm-text animated fadeInUp">Radio</div>
        </div>
    </div>
</div>
<div class="container-fluid col-md-12 silverleaf-ee" style="color: white;">
    <div class="col-md-9">
      <!--
      <br><div class="alert alert-info" role="alert"><i class="fa fa-plug" aria-hidden="true"></i> <strong>Heads Up!</strong> <u>Mane Frame Radio</u> is now <u>Paw Print Radio</u>. Expect more website updates as we rollover to the new name!</div>
    -->
          <h1 class="small-text-heading">Latest Blog Entry</h1>
          <div class="panel panel-default">
                <div class="panel-body">
                      <h1 class="blog-title"><a href="{{ postURL }}" style="color: white;">{{ postTitle }}</a></h1>
                      <p class="blog-timestamp">{{ postTimestamp }}</p> <hr>
                      <span class="blog-content">{{ postContent|safe }}</span>
                </div>
          </div>
    </div>
