
        <div class="container-fluid col-md-12" style="height: 50px;">
        </div>
        <div class="container-fluid col-md-12 silverleaf-ee" style="color: white;">
            <div class="col-md-9">
                  <h1 class="large-text-heading">Partners</h1>
                  <p class="heading-subtxt">List of the coolest communities around, go check them out!</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="well well-sm">
                        <a href="http://twitter.com/fur_esports"><button type="button" class="btn btn-primary btn-md pull-right">Visit FurryeSports <i class="fa fa-share" aria-hidden="true"></i></button></a>
                        <img src="static/img/partner/Fur-eSports.jpg" class="img-partner img-circle img-responsive">
                        <span class="partner-desc">Fur-eSports</span>
                      </div>
                      <div class="well well-sm">
                        <a href="http://allponyradio.com/"><button type="button" class="btn btn-primary btn-md pull-right">Visit AllPonyRadio <i class="fa fa-share" aria-hidden="true"></i></button></a>
                        <span class="partner-desc">AllPonyRadio</span>
                      </div>
                      <div class="well well-sm">
                        <a href="http://manetechstudios.com/"><button type="button" class="btn btn-primary btn-md pull-right">Visit ManeTechStudios <i class="fa fa-share" aria-hidden="true"></i></button></a>
                        <span class="partner-desc">ManeTechStudios</span>
                      </div>
                    </div>
                  </div>
            </div>
