    </div>
<footer>
  <a class="btn btn-success btn-xs" href="#" data-featherlight="#fl2" data-featherlight-variant="fixwidth">Request a Song</a>
  <audio src="http://radio.mane-frame.com:8000/stream-128.mp3" preload="auto"></audio>
  <div class="track-details" id="update_radio_subtxt">
    <em>Attempting to load Icecast metadata...</em>
  </div>
  <div class="lightbox" id="fl2">
    <iframe src="/requests" style="height: 80vh; width: 100%">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</footer>
