<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">

		<title>Request Error In Queue</title>
		<meta name="description" content="">
	  	<meta name="author" content="">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='requests/jquery-ui-1.8.13.slider.min.js') }}"></script>
		<script src="{{ url_for('static', filename='requests/jPaginator-min.js') }}"></script>


		<style type="text/css" media="all">
			@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic&v2);
			@import url({{ url_for('static', filename='requests/jPaginator.css') }});
			@import url({{ url_for('static', filename='requests/custom.css') }});
		</style>

	</head>

	<body>
	<div>
		<div style="color: white;">
		<a href="../requests"><button type="button">Back to list view</button></a>
	</div>
	</div>
		<div id="container">

			<!--include a div which we'll use to illustrate jPaginator doing its job-->
			<div id="page" style="color: white;">
				<table border="1" style="width:100%">
					<tbody>
						<tr style="font-size: 30px;">
							<td>ID</td>
							<td>Artist</td>
							<td>Title</td>
						</tr>
						<tr>
							<td>{{ reqID }}</td>
							<td>{{ reqARTIST }}</td>
							<td>{{ reqTITLE }}</td>
						</td>
					</tbody>
				</table>
				<br>
				<p>Sorry {{ reqUSERNAME }}, {{ errorMESSAGE }}</p>
			</div>


		</div>

	</body>

</html>
