<div class="col-md-3 sidebar">
      <div class="panel panel-default">
            <div class="panel-body">
                  <iframe src="https://discordapp.com/widget?id=81433163955441664&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                  <hr>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="M89Y2JAWQUWTW">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <div class="pull-right">
                  <a href="https://twitter.com/ManeFrameRadio" class="btn btn-lg btn-info"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/Mane-Frame-Radio-1541789809439439/?fref=ts" class="btn btn-lg btn-primary"><i class="fa fa-facebook"></i></a>
                  <a href="mailto:ManeFrameRadio@gmail.com" class="btn btn-lg btn-success"><i class="fa fa-envelope"></i></a>
                  <p>Reach out to us!</p>
            </div>
                  </form>
                  <p><i>Donate to help our server costs!</i></p>
                  <p><i class="fa fa-copyright"></i> 2016 Mane Frame Radio. Website designed with <i class="fa fa-heart"></i> by <a href="http://twitter.com/EndenDragon/">EndenDragon</a>. Gitlab revision <a href="https://git.mane-frame.com/Dusk/mane-frame.com/commit/{{ revision }}">{{ revision }}</a>.</p>
            </div>
      </div>
      <br>
</div>
</div>
