
        <div class="container-fluid col-md-12" style="height: 50px;">
        </div>
        <div class="container-fluid col-md-12 silverleaf-ee" style="color: white;">
            <div class="col-md-9">
                  <h1 class="large-text-heading">Team</h1>
                  <p class="heading-subtxt">List of Ponies that are behind the awesomeness.</p>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left media-middle">
                              <img class="media-object img-circle" style="width:100px; height:100px; background: url({{ url_for('static', filename='img/staff/shadowpony.jpg') }}) -90px -90px;">
                            </div>
                            <div class="media-body">
                              <div class="media-heading">
                                ShadowPony
                                <a href="http://twitter.com/AgentShadowPony"><button type="button" class="btn btn-info"><i class="fa fa-twitter"></i></button></a>
                              </div>
                              <p class="media-team-position">Owner</p>
                              <p>I am a Dragon: part dragon, part pony. I own it like a BOSS!! Have a problem? Deal with it! I am the ruler of The Dragonian Empire, one elusive pony. I am also a furry.</p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left media-middle">
                              <img class="media-object img-circle" src="{{ url_for('static', filename='img/staff/dusk.png') }}" alt="Dusk">
                            </div>
                            <div class="media-body">
                              <div class="media-heading">
                                Dusk
                                <a href="http://twitter.com/omnicons"><button type="button" class="btn btn-info"><i class="fa fa-twitter"></i></button></a>
                                <a href="mailto://dusk@dusky.horse"><button type="button" class="btn btn-success"><i class="fa fa-envelope"></i></button></a>
                              </div>
                              <p class="media-team-position">Server Manager</p>
                              <p>Dusk is the current Director of Ponyvillelive! under Poniverse, and likes to help out where she's able to see if she can hit things enough with her spanner to make them work.</p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left media-middle">
                              <img class="media-object img-circle" src="{{ url_for('static', filename='img/staff/endendragon.png') }}" alt="EndenDragon">
                            </div>
                            <div class="media-body">
                              <div class="media-heading">
                                EndenDragon
                                <a href="http://twitter.com/EndenDragon"><button type="button" class="btn btn-info"><i class="fa fa-twitter"></i></button></a>
                                <a href="http://youtube.com/TheCraftedDragon"><button type="button" class="btn btn-danger"><i class="fa fa-youtube"></i></button></a>
                                <a href="http://endendragon.deviantart.com"><button type="button" class="btn btn-success"><i class="fa fa-deviantart"></i></button></a>
                              </div>
                              <p class="media-team-position">Web Developer</p>
                              <p>An animator, a youtuber, a web developer, and a computer science student. My favorite programming languages are HTML, CSS, Python, and Java. During my free time, I create random My Little Pony animations, or just chillax with my friends for a chat. I started watching MLP during the summer of 2014. Fun fact, my first episode is Winter Wrap Up. If anyone wants to have something done, hit me up! I’m shure I will be there to serve you!</p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left media-middle">
                              <img class="media-object img-circle" src="{{ url_for('static', filename='img/staff/vapidpixel.png') }}" alt="Vapid Pixel">
                            </div>
                            <div class="media-body">
                              <div class="media-heading">
                                Vapid Pixel
                                <a href="http://vapidpixel.deviantart.com"><button type="button" class="btn btn-success"><i class="fa fa-deviantart"></i></button></a>
                              </div>
                              <p class="media-team-position">Facebook Admin</p>
                              <p>Vapid Pixel is a Brony who became a Facebook admin for Mane Frame Radio a few months before it became PawPrint Radio.  Quiet and reserved, he often spends his free time listening to music, playing video games, or drawing.  Though not very familiar with the Furry fandom, he's decided to stick around to help with the Facebook page.</p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left media-middle">
                              <img class="media-object img-circle" style="width:100px; height:100px; background: url({{ url_for('static', filename='img/staff/bigj.jpg') }}) -100px -20px; background-size: 100% auto;">
                            </div>
                            <div class="media-body">
                              <div class="media-heading">
                                Big J
                                <a href="http://www.facebook.com/joshamadeo89"><button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i></button></a>
                              </div>
                              <p class="media-team-position">Facebook Editor</p>
                              <p>Live in Colorado, been an MLP fan since the 90s with G1. Have a beautiful wife, daughter, 2 dogs and a leopard gecko. In my spare time, I enjoy exercising, acting (tv,commercials, plays), watching cartoons with my daughter, and growing in my spirituality with God.</p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left media-middle">
                              <img class="media-object img-circle" src="http://placehold.it/100" alt="neonstrobelights">
                            </div>
                            <div class="media-body">
                              <div class="media-heading">
                                neonstrobelights
                                <a href="http://twitter.com/ytjuliannielsen"><button type="button" class="btn btn-info"><i class="fa fa-twitter"></i></button></a>
                                <a href="http://julieboss.deviantart.com"><button type="button" class="btn btn-success"><i class="fa fa-deviantart"></i></button></a>
                              </div>
                              <p class="media-team-position">Artist</p>
                              <p>An artist for Mane Frame Radio. Is a youtuber and posts art on DeviantArt.</p>
                            </div>
                          </div>
                        </div>
                  </div>
            </div>
