@media (min-width: 768px) {
    .navbar-brand-centered {
    position: absolute;
	left: 45%;
	display: block;
	width: 20%;
	text-align: center;
	background-color: transparent;
	padding-right:100px;
  }
}
.logoimage {
  width:50px;
  position: relative;
  top: -15px;
  left: -20px;
}
@media (min-width: 768px) {
  .logoimage {
  width:100px;
  position: relative;
  top: -35px;
  left: -20px;
}
}
.navbar>.container .navbar-brand-centered,  .navbar>.container-fluid .navbar-brand-centered {
	margin-left: -80px;
}
.navbar-fixed-top {
  margin-top:0px;
}

@media (min-width: 768px) {
  .navbar-fixed-top {
  margin-top:30px;
}
}

/*Navbar Custom Color*/
.navbar-custom {
  background-color: #910f0f;
  border-color: #730c0c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bf1414), to(#910f0f));
  background-image: -webkit-linear-gradient(top, #bf1414, 0%, #910f0f, 100%);
  background-image: -moz-linear-gradient(top, #bf1414 0%, #910f0f 100%);
  background-image: linear-gradient(to bottom, #bf1414 0%, #910f0f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf1414', endColorstr='#ff910f0f', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #f5d7bc;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #eebd90;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #f5d7bc;
}
.navbar-custom .navbar-nav > li > a {
  color: #f5d7bc;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #e69685;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #e69685;
  background-color: #730c0c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#730c0c), to(#a11111));
  background-image: -webkit-linear-gradient(top, #730c0c, 0%, #a11111, 100%);
  background-image: -moz-linear-gradient(top, #730c0c 0%, #a11111 100%);
  background-image: linear-gradient(to bottom, #730c0c 0%, #a11111 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff730c0c', endColorstr='#ffa11111', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #710c0c;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #e69685;
  border-bottom-color: #e69685;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #730c0c;
  color: #e69685;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #e69685;
  border-bottom-color: #e69685;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #f5d7bc;
  border-bottom-color: #f5d7bc;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #f5d7bc;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e69685;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e69685;
    background-color: #730c0c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #f5d7bc;
}
.navbar-custom .navbar-link:hover {
  color: #e69685;
}

/*Jumbotron*/
.jumbotron {
  display: block;
  margin: 0 auto;
  position: relative;
  background-image: url('http://znc.mane-frame.com/static/silverleaf.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron img {
  display: block;
}

.jumbotron {
display: block;
margin: 0 auto;
position: relative;
background: linear-gradient(to bottom, rgba(255, 26, 2, 0.2) 0%, rgba(127, 13, 1, 1) 100%);
}
.jumbobg {
background-image: url('http://znc.mane-frame.com/static/silverleaf.png');
background-repeat: no-repeat;
background-attachment: fixed;
}